<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div ng-app="login" ng-controller="formCtrl" class="register">
    <form novalidate>
        用户名: <input type="text" ng-model="userName"><br>
        密 码: <input type="text" ng-model="passWord"><br>
        <button ng-click="login()">登录</button>
    </form>
</div>
</body>


</html>
<script>
    var app = angular.module('signUp', []);
    app.controller('formCtrl', function ($scope) {
        $scope.login = function () {
            console.info("你好啊");
        };
        $scope.login();
    });
</script>
<style>
    .register {
        margin: auto;
        margin-left: 45%;
    }
</style>